{% extends 'admin/admin.html.twig' %}
{% block title %}
	Editer recette :
	{{recipe.title}}
{% endblock %}

{% block body %}
	<h1>{{recipe.title}}</h1>

	<img src="{{ vich_uploader_asset(recipe,'thumbnailFile')}}" alt="{{recipe.title}}">

	{{ form_start(form) }}
	<div class="d-flex gap-2">
		{{ form_row(form.title) }}
		{{ form_row(form.duration) }}
	</div>
	{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}
